@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cursorBlink {
    0%, 50% {
        border-left: 2px solid black;
    }
    51%, 100% {
        border-left: 2px solid transparent;
    }
}

.container-focused .animate-blink {
    animation: 1s ease 0s infinite normal none running cursorBlink;
}